body {
  background-image: url(../images/bg.png);
  font-family: "Poppins";
  font-style: normal;
}

/* .container {
  padding: 0 !important;
} */

.row {
  margin: 0 !important;
}

.row > * {
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

header.row {
  margin: 83px 0 85px 0 !important;
}

.body-bg {
  background: linear-gradient(
    80.18deg,
    rgba(227, 204, 2, 0.985) 0%,
    rgba(255, 229, 5, 0.985) 100%
  );
  display: flex;
}

.main-content {
  width: -webkit-fill-available;
}

aside {
  height: 100vh;
  width: 140px;
}

aside .side-nav {
  background: #181c32;
  box-shadow: 0px 0px 80px 50px rgb(206 213 225 / 12%);
  border-radius: 20px 0px 0px 20px;
  position: fixed;
  top: 40px;
  bottom: 40px;
  right: 0;
  width: 140px;
}

aside .side-nav .search {
  position: absolute;
  top: 40px;
  left: 47px;
  background: #f1416c;
  border-radius: 80px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

aside .side-nav .search:hover,
aside .setting:hover {
  cursor: pointer;
  transform: scale(1.2);
}

aside .side-nav .menu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 38px;
  right: 38px;
  margin: auto 0 !important;
  height: fit-content;
}

aside .menu .menu-item {
  width: 64px;
  height: 64px;
  border-radius: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

aside .menu .menu-item.actived,
aside .menu .menu-item:hover {
  background: #000000;
}

aside .menu .menu-item:hover {
  cursor: pointer;
}

aside .setting {
  width: 46px;
  background: #21293b;
  border-radius: 80px;
  height: 46px;
  position: absolute;
  bottom: 40px;
  left: 47px;
  right: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.main-content .logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-content .header-right,
.main-content .header-right .right-btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-content .header-right .right-menu-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-content .header-right .right-btn {
  width: 40px;
  height: 40px;
  background: #ffea33;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px !important;
  transition: all 0.2s ease-in-out;
}

.main-content .header-right .right-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.main-content .header-right .right-menu-item {
  margin: 0 20px !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #7e8299;
  transition: all 0.2s ease-in-out;
}

.main-content .header-right .right-menu-item.actived {
  color: #3f4254;
}

.main-content .header-right .right-menu-item.actived::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #3f4254;
  border-radius: 5px;
  display: grid;
}

.main-content .header-right .right-menu-item:hover {
  color: #3f4254;
  cursor: pointer;
}

main .section-top .section-title h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: #181c32;
}

main .section-top .section-btn,
main .section-top .section-btn .right-btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

main .section-top .section-btn .right-btn {
  width: 70px;
  height: 70px;
  background: #efd600;
  border: 1px solid #ffeb39;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px !important;
  transition: all 0.2s ease-in-out;
}

main .section-top .section-btn .right-btn:last-child {
  margin-right: 0 !important;
}

main .section-top .section-btn .right-btn.actived,
main .section-top .section-btn .right-btn:hover {
  background: #f1416c;
  box-shadow: 0px 6px 26px rgba(24, 28, 50, 0.24);
  border-radius: 9px;
  border: none;
}

main .section-top .section-btn .right-btn:hover {
  cursor: pointer;
}

main .section-mid {
  margin: 92px 0 40px 0 !important;
}

main .section-mid .big-card.col-3 {
  width: 22.6%;
  margin: 0 40px 0 0;
}

main .section-mid .big-card{
    transition: all 0.2s ease-in-out;
}

main .section-mid .big-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

main .section-mid .big-card:last-child.col-3 {
  margin-right: 0 !important;
}

main .section-mid .big-card-content {
  background: #ffffff;
  height: 320px;
  border-radius: 20px;
  position: relative;
}

main .section-mid .big-card-content p {
  position: absolute;
  top: 34px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #181c32;
  left: 40px;
}

main .section-mid .big-card-content img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
