body{
    font-family: 'Poppins';
    font-style: normal;
}

ul{
    padding: 0 !important;
    margin: 0 !important;
}

p{
    margin: 0 !important;
}

header{
    background: #3699FF;
}

.header-wrapper{
    display: flex;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 69px;
    height: 60px;
}

.header-tabs .header-tabs-wrapper{
    display: flex;    
}

.header-tabs .header-tab p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #C8E3FF;
    transition: all 0.2s ease-in-out;
}

.header-tabs .header-tab{
    padding: 18px 20px;
}

.header-tabs .actived{
    background-image: url(../images/Vector1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 18px 20px;
}

.header-tabs .actived p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px !important;
    color: #464E5F;
}

.header-tabs .header-tab:hover{
    cursor: pointer;
}

.header-tabs .header-tab:hover p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #464E5F;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-right-icon-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-right .header-right-user-info{
    margin-left: 15px;
}

.header-right-user-info-wrapper{
    display: flex;
}

.header-right .header-right-icon{
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}

.header-right .header-right-user-title .user-name{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #9CCDFF;
}

.header-right .header-right-user-title .user-description{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.header-right .header-right-user-avt{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px !important;
}

.header-right .header-right-user-avt p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    transition: 0.2s all ease-in-out;
}

.header-right .header-right-icon:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.header-logo:hover{
    cursor: pointer;
}

.header-right .header-right-user-avt:hover{
    cursor: pointer;
}

.header-right .header-right-user-avt:hover p{
    transform: scale(1.2);
}

.menu{
    background: #FFFFFF;
    box-shadow: 0px 5px 8px rgba(70, 78, 95, 0.02);
}

.menu .menu-items{
    display: flex;
}

.menu .menu-item{
    border-radius: 6px;
    padding: 12px 19px;
    margin: 17px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
}

.menu .menu-item p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #80808F;
    transition: 0.2s all ease-in-out;
}

.menu .actived{
    background: #F3F6F9;
}

.menu .actived p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #3699FF;
}

.menu .menu-item img{
    transition: 0.2s all ease-in-out;
}

.menu .menu-item:hover{
    background: #F3F6F9;
    cursor: pointer;
}

.menu .menu-item:hover p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #3699FF;
}

.menu .menu-item:hover img{
    transform: rotateZ(180deg);
}

main{
    background: #D5D9E2;
}

.main-container{
    padding: 40px 0;
}

.main-container .section-1:nth-child(2){
    padding: 0 40px;
}

.main-container .card{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
    border-radius: 12px;
    height: 473px;
}

.widget-1 .card-top{
    background: #3699FF;
    border-radius: 12px;
    height: 242px;
    padding: 30px;
    position: relative;
}

.widget-1 .card-top-img-1{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;    
}

.widget-1 .card-top-img-2{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 75px;
}

.widget-1 .card-top-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-1 .card-top-btn{
    display: flex;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 6px;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.widget-1 .card-top .card-title{
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.widget-1 .card-top-btn p{
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
}

.widget-1 .card-top-btn img{
    margin-left: 14px;
}

.widget-1 .card-top-btn-wrapper{
    margin-left: auto;
}

.widget-1 .card-top-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.widget-1 .card{
    position: relative;
}

.widget-1 .card-carts{
    position: absolute;
    width: 100%;
    padding: 30px;
    bottom: 0;
}

.widget-1 .card-carts .row .cart-wrapper:first-child{
    padding-right: 20px;
}

.widget-1 .card-carts .cart{
    background: #F3F6F9;
    box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.06);
    border-radius: 12px;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.widget-1 .card-carts .cart p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #80808F;
}

.widget-1 .card-carts .row:first-child{
    margin-bottom: 20px;
}

.widget-2 .card-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.widget-2 .card-chart .chart-progress{
    position: relative;
    float:left;
    text-align: center;
}

.widget-2 .card-chart .barOverflow{
    position: relative;
    overflow: hidden;
    width: 203px; 
    height: 101px;
    margin-bottom: -70px;
}

.widget-2 .card-chart .bar{
    position: absolute;
    top: 0; 
    left: 0;
    width: 203px; 
    height: 203px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 12px solid #F64E60;
    border-bottom-color: #FFE2E5;
    border-right-color: #FFE2E5;
}

.widget-2 .card{
    padding: 23px 30px;
    position: relative;
}

.widget-2 .card-head .card-title{
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #464E5F;
}

.widget-2 .card-head .card-subtitle{
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: #80808F;
}

.widget-2 .card-chart .chart-progress-info-number{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #464E5F;    
}

.widget-2 .card-chart .chart-progress-info-subtitle{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.widget-2 .card .card-body{
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.widget-2 .card-body-item{
    padding-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.widget-2 .card-body-item .card-body-item-logo{
    background: #F3F6F9;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.widget-2 .card-body-item-content .card-body-item-title{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #464E5F;
}

.widget-2 .card-body-item-content .card-body-item-description{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.widget-3 .card{
    padding: 30px;
}

.widget-3 .widget-title p{
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #464E5F;
}

.widget-3 .widget-wrapper{
    background: #FFFFFF;
    border-radius: 12px;
}

.widget-3 .items{
    display: flex;
    padding-bottom: 30px;
}

.widget-3 .item-logo{
    background: #F3F6F9;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.widget-3 .item-logo img{
    width: 28px;
    height: 28px;
}

.widget-3 .item-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
}

.widget-3 .item-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.widget-3 .item-content{
    display: flex;
    align-items: center;
}

.widget-3 .item-number{
    padding: 5px;
    background: #F3F6F9;
    border-radius: 6px;
    height: fit-content;
    margin: auto;
    margin-right: 0 !important;
}

.widget-3 .item-number p{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #80808F;
}

.widget-3 .widget-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-3 .widget-icon:hover{
    cursor: pointer;
}

.widget-3 .widget-icon img{
    transition: 0.2s all ease-in-out;
}

.widget-3 .widget-icon:hover img{
    transform: rotateZ(180deg);
}

.widget-3 .widget-items{
    margin-top: 25px;
}

.main-container .section-2{
    margin-top: 40px;
}

.main-container .section-2 .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
    border-radius: 12px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.section-2 .card{
    position: relative;
}

.section-2 .card-bg{
    position: absolute;
    right: 0;
}

.section-2 p{
    position: absolute;
    z-index: 1;
}

.section-2 .card-top-title{
    top: 24px;
    right: 29px;
    left: 29px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B5B5C3;
}

.section-2 .card-middle-title{
    right: 29px;
    left: 29px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #3699FF;    
}

.section-2 .card-bottom-title{
    bottom: 24px;
    left: 29px;
    right: 29px;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #464E5F;   
}

.main-container .section-3{
    margin-top: 40px;
}

.widget-4 .widget-card{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(56, 71, 109, 0.03);
    border-radius: 12px;
    height: 500px;
    padding: 24px 30px 0 29px;
}

.widget-4 .widget-card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #212121;    
}

.widget-4 .widget-card-subtitle{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.widget-4 .widget-card-btn{
    background: #EEE5FF;
    border-radius: 6px;
    width: 80px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-4 .widget-card-btn p{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8950FC;
}

.widget-4 .widget-card-header{
    align-items: center;
}

.widget-4 .widget-card-head-btn{
    display: flex;
    justify-content: end;
}

.widget-4 .widget-card-item{
    margin-top: 30px;
    display: flex;
}

.widget-4 .widget-item-logo{
    background: #C9F7F5;
    border-radius: 6px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.widget-4 .widget-item-title p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
}